<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <hr>
    <h5 *ngIf="account">{{ account.name }}</h5>
    <hr>
    <p *ngIf="account">This account is {{ account.status }}</p>
    <button class="btn btn-default" [disabled]="account.status == 'Active'" (click)="onChangeStatus('Active')">Active</button>
    <button class="btn btn-default" [disabled]="account.status == 'Inactive'" (click)="onChangeStatus('Inactive')">Inactive</button>
    <button class="btn btn-default" [disabled]="account.status == 'Unknown'" (click)="onChangeStatus('Unknown')">Unknown</button>
  </div>
</div>